*{
  font-size: 12px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
div{text-align: left;}
.navbar{
  /*background-color: #7B02EC;*/
  /*background-image: linear-gradient(to right,#7B02EC , #7C06B9);*/
  background: transparent url("./images/nav-gradient.jpg") repeat-x scroll 0% 0%;
  /*box-shadow: 0px 3px rgba(2, 99, 7, 0.589);*/
  border-bottom: 2pt solid rgba(1, 43, 3, 0.589);
}
.navbar-brand{
  color:#fff !important;
  font-weight: bold;
  text-shadow: 4px 4px 10px #000000;
}
.nav-link{
  color:#fff !important;
  text-align: left;
  align-items: flex-end;
  font-weight: bold;
  text-shadow: 4px 4px 10px #000000;
}
  /*.navbar-nav a:hover {
    color: #4f782d !important;
  }*/
.nav-link.active,
.nav-item.show .nav-link {
  /*background:rgba(0,0,0,0.5);*/
  background:rgb(8, 139, 30);
}
nav .dropdown-menu{
  opacity: 0.9;
  /*background:rgba(0,0,0,0.5);*/
  background:rgb(8, 139, 30);
  opacity: 0.8;
  filter: alpha(opacity=30);
  text-align: left;
  font-weight: bold;
  margin-top: -1px !important;
  border-radius: 0 !important;
  width: 250px;
}
nav .dropdown-menu a{
  text-align: left;
  color:white !important; 
  font-weight: bold;
  text-shadow: 4px 4px 10px #000000;
}
nav .dropdown-menu a:hover{
  color: #203409!important;
  font-weight: bold;

}

.noser-home{
  background-image: url("./images/home.png");
  background-repeat: no-repeat;
  width: 700px;
  height: 408px;
  margin: 150px auto 0 auto;
  border: 1pt solid #036003;
  box-shadow: 6px 6px #666;
  border-radius: 0.5em;
  position: relative;
}
.noser-home span{
  position: absolute;
  font-weight: bold;
  bottom: 0;
  right: 6px;
}

/*MODAL FOR LOADING*/
.noser-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
  
.noser-modal-main {
  position:fixed;
  background: transparent;
  width: 35%;
  min-width: 225px;
  height: 14%;
  top:50%;
  left:50%;
  border-radius: 0.5em;
  transform: translate(-50%,-50%);
  z-index: 80;
  opacity: 0.9;
  filter: alpha(opacity=70);
  /*box-shadow: 10px 10px #333;
  border: 1px solid #203409;*/
}
.noser-img-loader-conatianer{
  width: 64px;
  height: 64px;
  margin: auto;
  
}
.noser-modal-main h6{
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0 0;
}
.noser-img-loader-conatianer img{
  display: block;
  margin: 0 auto;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*UnAuthorized*/
.noser-unathorized{
  background-image: url("./images/404-not-found.png");
  background-repeat: no-repeat;
  width: 604px;
  height: 204px;
  margin: 120px auto 0 auto;
}
.table {
  overflow: auto;
  display: block;
  table-layout: auto;
  padding: 0 !important;
}
.table tr td{
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}
.table th{
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  /*background-color: #28A745!important;*/
  background-color:  rgb(8, 139, 30);
  color:#fff !important;
}
.btn-success{
  background-color: rgb(8, 139, 30) !important;
  border: 1pt solid  rgb(8, 139, 30)!important;
}

.card{
  border: .5pt solid rgba(17, 99, 31, 0.644) !important;
}
.card-header{
  background-image: linear-gradient(to right,rgba(13, 88, 17, 0.986) , rgb(8, 139, 30));
  /*color: rgba(13, 88, 17, 0.986);*/
  color: #fff;
  text-shadow: 4px 4px 10px #000;
  font-weight: bold;
  /*border: 2pt solid rgba(13, 88, 17, 0.986) !important;*/
  border: none !important;
}
.react-bootstrap-table-pagination-list {
  
  background-color: transparent;
}

.react-bootstrap-table-page-btns-ul {
  float: none;
}
.react-bootstrap-table-pagination{
  background: transparent;
}

.alert-danger, .alert-warning, .alert-success, .alert-info{
  padding: 6px !important;
}
.card div:empty, .card span:empty {
  display: none !important;
}
@media (max-width:576px) {
  .lg-button { width: 100% !important;display: block !important;}  
}
